
  
.generateSpeechBtn, .translateSpeechBtn {
    background-color: var(--buttonNew--);
    color: var(--new--text-color--);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
.generateSpeechBtn:hover, .translateSpeechBtn:hover {
    opacity: .9;
}

/* ---------------------------------------Media quaries-----------------------------------------------------*/

/* mobile Devices---------- */
@media screen and (max-width: 768px) and (orientation: portrait) {
    body {
        font-size: 14px;
    }

    .filter{
        filter: invert(1);
    }

    .root{
        position: relative;
    }

    .leftMain{
        position: absolute;
        width: 0%;
        z-index: 100;
    }

    .slider{
        min-height: 5vmin;
    }
    .slide {
        margin: 2vmin;
        padding: 20px;
    }
    .slide img {
        width: 4.5vmin;
    }
    .sliderButtonsChats{
        height: 15%;
    }

    .chatVoiceButtons {
        max-height: 29vmin;
        gap: 1vmin;
    }
    .newChat{
        font-size: 3vmin;
    }

    .imgTextRecentChatsButton span{
        font-size: 2.5vmin;
    }
    .addVoice span{
        font-size: 2.5vmin;
    }
    .storageSection{
        height: 2.5%;
    }

    .storageIconText span{
        font-size: 2.5vmin;
    }

    .storagePopup{
        height: 60%;
    }

    .searchInput{
        height: 60%;
    }

    .selectDeleteChats{
        height: 3%;
    }

    .chatList li span{
        font-size: 2.5vmin;
    }

    .chatsHistoryHereNow li span {
        font-size: 2.5vmin;    
    }

    .about span {
        font-size: 2.5vmin;
    }

    .chatsSection{
        max-height: 2.5%;
    }

    .aboutWebsitePopupContainer{
        top: 5vmin;
    }

    .about{
        height: 60%;
    }

    .userHere {
        height: 20%;
    }

    .userImg{
        width: 25%;
    }

    .userName{
        width: 75%;
    }
    
    .userName span{
        font-size: 2.5vmin;
    }

    .chatsSection.openChatListDisplay {
        max-height: 60%;
    }
    .slider{
        transform: scale(.9);
        display: flex;
    }
    .about img {
        width: 3.5vmin;
    }
    .logoutImg img {
        width: 3.5vmin;
    }
    .rightMain{
        width: 100%;
    }
    .upperRight{
        height: 9%;
        width: 100%;
        flex-direction: column;
    }
    .lowerRight{
        width: 100%;
        margin-top: 18vmin;
    }
    .exportAudioNow {
        width: 100%;
        height: 100%;
        margin-right: 10px;
    }

    .exportOptionsPopup {
        top: 10vmin;
    }
    .export {
        width: 30%;
        height: 100%;
        font-size: 3vmin;
    }
    .audioFileName {
        width: 50%;
        height: 100%;
        border: none;
    }
    
    .fileName span{
        width: 50%;
        font-size: 2.5vmin;
    }
    .webSiteName {
        display: none;
    }
    
    .exportAudios{
        width: 100%;
        height: 50%;
    }

    .export{
        width: 20%;
        height: 85%;
    }

    #inputText{
        resize: vertical;
    }

}

@media screen and (max-width: 768px) and (orientation: landscape) {
    body {
        font-size: 12px;
    }

    textarea {
        width: 70%;
    }
}