form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField{
  width: 50vmin;
  height: 6vmin;
  background: transparent;
  border: none;
  border-bottom: .3vmin solid black;
  font-size: 2vmin;
  outline: none;
  padding: 1vmin;
}

#name{
  margin-top: 5vmin;
}

.formContainer{
  width: 70vmin;
  height: 90vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1vmin;
  overflow: hidden;
  padding: 1.5vmin;
  background-color: rgb(215, 215, 228);
  border: .2vmin solid white;
}

.nameEmailPassContainer{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1vmin;
}

.errors{
  font-size: 2vmin;
  color: rgb(231, 0, 0);
}

#continue{
  padding: 1vmin;
  width: 10vmin;
  border-radius: 1vmin;
  pointer-events: none;  
}

.popupErrors{
  position: absolute;
  top: 10vmin;
  right: 0;
  width: 0vmin;
  height: 8vmin;
  background-color: rgb(244, 23, 23);
  border-radius: 1vmin;
  box-shadow: 0 .5vmin .5vmin rgba(255, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  font-size: 2vmin;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  transition: width .1s;
}