:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

.lazy-loaded {
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.mainFormSection{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradientBackground{
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background: var(--new--body-rightSection--);
  top: 0;
  left: 0;
}

.gradientBackground svg {
  display: none;
}

.gradientContainer {
  filter: url(#goo) blur(4vmin);
  width: 100%;
  height: 100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(5% - var(--circle-size) / 3);
  left: calc(50% - var(--circle-size) / 3);
  transform-origin: calc(50%+60vmin);
  animation: moveInCircle 40s reverse infinite;
  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(80% - var(--circle-size) / 3);
  left: calc(20% - var(--circle-size) / 3);
  transform-origin: calc(50% - 60vmin);
  animation: moveInCircle 40s reverse infinite;
  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 40vmin);
  left: calc(50% - var(--circle-size) / 2 + 60vmin);
  transform-origin: calc(50% - 40vmin);
  animation: moveVertical 60s reverse infinite;
  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(8 0% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 20vmin);
  animation: moveHorizontal 60s reverse infinite;
  opacity: 0.7;
}


.interactiveCircle{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}
.mainLoginContainerFormContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5vmin;
}

.companyLogoContainer{
  color: white;
  font-size: 7vmin;
  font-weight: bolder;
  user-select: none;
}
.companyLogoContainerSpan3{
  display: inline-flex;
  transform: translate(.5vmin, 2vmin);
}

.signUpFormHereContainer{
  width: 60vmin;
  height: 80vmin;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: .3vmin solid white;
  border-radius: 1vmin;
  background-color: hsla(0, 0%, 100%, 0.2);
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.heading{
  width: 100%;
  height: 10%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 3.5vmin;
  font-weight: bolder;
}

.nameEmailContainer{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.emailContainer{
  position: relative;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .3vmin solid hsl(0, 0%, 90%);
}
.emailContainer img{
  filter: invert(1);
}
.icon img{
  position: absolute;
  width: 2.5vmin;
  height: 2.5vmin;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.emailContainer input{
  width: 100%;
  height: 70%;
  border: none;
  outline: none;
  font-size: 2.5vmin;
  background: transparent;
  padding: 1vmin;
  padding-right: 4vmin;
  color: white;
}
.emailContainer input::placeholder{
  color: hsl(0, 0%, 90%);
}


/* ----------------------------------------password container */
.passwordConfirmPasswordContainer{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passwordContainer{
  position: relative;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .3vmin solid hsl(0, 0%, 90%);
}
.passwordContainer img{
  filter: invert(1);
}

.passwordContainer input{
  width: 100%;
  height: 70%;
  border: none;
  outline: none;
  font-size: 2.5vmin;
  background: transparent;
  padding: 1vmin;
  padding-right: 4vmin;
  color: white;
}
.passwordContainer input::placeholder{
  color: hsl(0, 0%, 90%);
}

.passwordConfirmPasswordContainerP{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmin;
  font-weight: bolder;
  color: white;
}

.ButtonsAndGoogleLoginContainer{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.signinForgotPasswordContainer{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vmin;
}

.signinButton{
  font-size: 2.5vmin;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
}
.signinButton a{
  color: white;
  text-decoration: none;
  background: transparent;
}
.signinButton a:hover{
  text-decoration: underline;
  text-underline-offset: .5vmin;
  text-decoration-color: rgb(255, 255, 255);
  cursor: pointer;
}

.continueLoginContainer{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continueLoginButton{
  width: 15vmin;
  height: 5vmin;
  padding: 1vmin;
  background: var(--new--body-leftSection-light--);
  border: none;
  border-radius: 1.5vmin;
  outline: none;
  font-size: 2.5vmin;
  font-weight: bolder;
  color: black;
  cursor: pointer;
  margin-bottom: 1vmin;
}

.horizontalBarLoginGoogle {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5vmin;
  margin: 1vmin 0;
}

.horizontalBarLoginGoogle::before,
.horizontalBarLoginGoogle::after {
  content: "";
  flex: 1;
  height: 0.2vmin;
  background-color: rgba(255, 255, 255, 0.4);
}

.horizontalBarLoginGoogle p {
  font-size: 2.1vmin;
  padding: 0 1vmin;
  margin: 0;
  user-select: none;
  white-space: nowrap;
  background: transparent;
  color: white;
}

.googleLoginSystem{
  margin-top: 1vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.googleIconButtonHolder{
  width: 40vmin;
  padding: 1.3vmin 0vmin 1.3vmin 0vmin;
  border-radius: 10vmin;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}

.googleIconButtonHolder img{
  width: 3vmin;
}

.googleLoginTemplate{
  font-size: 2.5vmin;
  background: none;
  outline: none;
  border: none;
  color: black;
}
.googleIconButtonHolder:hover, .continueLoginButton:hover{
  background-color: hsl(0, 0%, 93%);
  transition: background-color .1s ease;
}

.CloseAnimationHolder{
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2.5vmin;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  padding: 1vmin;
  opacity: 0.9;
}

.CloseAnimationHolder:hover{
  opacity: 1;
}
.openAnimationHolder{
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2.5vmin;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  padding: 1vmin;
  opacity: 0.9;
  visibility: hidden;
}

.openAnimationHolder:hover{
  opacity: 1;
}
