:root {
  --canvas: #0D0D0D;
  --panels: #212121;

  --button: #2980B9;
  --buttonHover: #2471A3;

  --text-bright: #EAEAEA;
  --text-primary: #bfbfbf;
  
  --svg-hover: rgba(73, 82, 87);
  
  --filter-drop-shadow: drop-shadow(0 0 10px rgba(41, 128, 185, 0.5));

  --border-color: hsl(0, 0%, 24%);

  --gradient: linear-gradient(145deg, #1f1f1f, #282828);
}

::-webkit-scrollbar {
  width: 1vmin;
  height: 1vmin;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.4);
  border-radius: .3vmin;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 25%);
}


* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: var(--canvas);
  color: white;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.2);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes rotationAnimation {
  from {
      transform: rotate(0deg); /* Starting point */
  }
  to {
      transform: rotate(360deg); /* Full rotation */
  }
}

@keyframes shineEffect {
  0% {
      transform: translate(-100%, -100%);
  }
  100% {
      transform: translate(100%, 100%);
  }
}

.filter{
  filter: invert(1);
  width: 15px;
}

.flex{
  display: flex;
}
.justifyStart{
  justify-content: flex-start;
}
.relative{
  position: relative;
}
.alignCenter{
  align-items: center;
}
.justifyCenter{
  justify-content: center;
}
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}