:root {
  --new--body-leftSection--: #18181b;
  --button--: #27272a;
  --buttonNew--: #4f46e5;
  --buttonHover--: #3f3f46;
  --new--body-rightSection--: #0a0a0a;
  --border-universal--: rgba(255, 255, 255, 0.3);
  --extra-dark-user--: rgb(6, 6, 6);
  --text-primary: #f4f4f5;
}

::-webkit-scrollbar {
  width: 1vmin;
  height: 1vmin;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.4);
  border-radius: .3vmin;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 25%);
}


* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

body {
  background-color: var(--new--body-rightSection--);
  color: white;
}

.filter{
  filter: invert(1);
}

.flex{
  display: flex;
}
.justifyStart{
  justify-content: flex-start;
}
.relative{
  position: relative;
}
.alignCenter{
  align-items: center;
}
.justifyCenter{
  justify-content: center;
}
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}